a{
	text-decoration: none;
	display: block;
}
.container{
	max-width: 1340px;
	padding: 0 30px;
	margin: 0 auto;
}
.flexWrapper{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.flexWrapper.wrap{
	display: -webkit-flex;
	flex-wrap: wrap;
}
.flexWrapper.centerContent{
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.flexWrapper.justifyContent{
	-webkit-box-pack: space-between;
	-ms-flex-pack: space-between;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-box-pack: justify;
}
.flexWrapper.wrap{
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.flexWrapper.alignMiddle{
	align-items: center;
}
.inlineBlock{
	display: inline-block;
}
.inlineBlock.alignMiddle{
	vertical-align: middle;
}
.borderTopGray{
	border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
@media only screen and (min-width : 768px) and (max-width : 1199px){
	.container{
		padding: 0 25px;
	}
	.flexWrapper.wrapTablet{
		display: -webkit-flex;
		flex-wrap: wrap;
	}
}
@media(max-width: 767px){
	.container{
		padding: 0 15px;
	}
	.borderNoneMob{
		border: none;
	}
}