@media(max-width: 1199px){
	.firstScreen{
		padding-top: 150px;
	}
	.firstScreen .playerList{
		margin-bottom: 50px;
	}
	.firstScreen .items{
		flex-basis: calc((100% - 250px)/4);
		max-width: calc((100% - 250px)/4);
	}
	.firstScreen .items:first-child,
	.firstScreen .items:last-child{
		display: none;
	}
	.firstScreen .player{
		flex-basis: 250px;
		max-width: 250px;
		height: 250px;
		padding-top: 40px;
	}
	.firstScreen .player .logoItem{
		min-height: 55px;
		margin-bottom: 15px;
	}
	.firstScreen .player .logoItem img{
		max-height: 50px;
	}
	.firstScreen .player .titleItem{
		font-size: 14px;
		margin-bottom: 15px;
	}
	.firstScreen .progressMusic{
		width: 150px;
		margin-bottom: 20px;
	}
	.navigationPlayer{
		margin-bottom: 10px;
		width: 100px;
	}
	.firstScreen .player .category .leftBottom{
		bottom: 30px;
		left: -85px;
	}
	.firstScreen .player .category .rightBottom{
		bottom: 30px;
		right: -85px;
	}
	.superscrollorama-pin-spacer{
		height: inherit!important;
	}
	.ourClients{
		min-height: inherit;
	}
	.ourClients .ourClientsCarousel .clientBlock{
		position: inherit;
		opacity: 1!important;
	}
	.ourClients .sliderNavigation{
		position: relative;
		top: inherit!important;
		opacity: 1!important;
	}
	.howItWorks{
		min-height: inherit;
	}
	.howItWorks .firstSteps .flexItem{
		left: inherit!important;
		right: inherit!important;
		opacity: 1!important;
		top:auto!important;
	}
	.howItWorks .firstSteps .flexItem.tracks .numbers{
		font-size: 48px!important;
	}
	.howItWorks .firstSteps .flexItem .after{
		opacity: 1 !important;
		right: 0 !important;
	}
	.howItWorks .firstSteps .flexItem .before{
		opacity: 1 !important;
		left: 0 !important;
	}
	.howItWorks .firstSteps .flexItem.genre .numbers,
	.howItWorks .firstSteps .flexItem.institution .numbers{
		font-size: 36px;
	}
	.howItWorks .firstSteps .flexItem.brands .numbers{
		font-size: 30px;
	}
	.howItWorks .firstSteps .flexItem.servers{
		font-size: 9px;
	}
	.howItWorks .wifiStep{
		top: 0!important;
		opacity: 1!important;
	}
	.howItWorks .secondStep .flexItem{
		left: inherit!important;
		right: inherit!important;
		top: inherit!important;
		opacity: 1!important;
	}
	.howItWorks .secondStep .laptop{
		flex-basis: 420px;
		background-size: 420px auto;
	}
	.howItWorks .secondStep .laptop .logoBlock{
		top:100px !important;
	}
	.howItWorks .secondStep .laptop .content{
		position: inherit;
		top: 200px!important;
	}
	.howItWorks .secondStep .loudspeaker{
		background-size: 100px auto;
	}
	.howItWorks .secondStep .loudspeaker .content{
		left: inherit!important;
		right: inherit!important;
		opacity: 1!important;
		top: 200px!important;
	}
	.howItWorks .secondStep .loudspeaker.right .content{
		right: 0!important;
	}
	.featuresBlock .flexItem{
		flex-basis: 50%;
		margin-bottom: 10px;
	}
	.contactUsBlock{
		background-position: calc(100% + 700px) -50px;
	}
	.headerBlock .listMenu > li {
		padding: 0 15px;
	}
	.headerBlock .listMenu {
		font-size: 10px;
	}
	.ourClients .titleBlock{
		position: inherit;
	}
}
@media (max-width: 991px){
	.headerBlock .logoBlock .logo{
		margin-right: 5px;
		width: 30px;
	}
	.headerBlock .logoBlock .logo img{
		max-width: 100%;
	}
	.headerBlock .listMenu{
		font-size: 8px;
	}
	.headerBlock .listMenu > li{
		padding: 0 3px;
	}
	.featuresBlock .flexItem{
		flex-basis: 50%;
	}
	.contactUsBlock .contentBlock{
		padding: 150px 0 100px;
	}
	.contactUsBlock .address, .contactUsBlock .communication{
		flex-basis: 100%;
		margin-bottom: 50px;
		padding-left: 0;
	}
	.footerBlock .socialLinks .item{
		padding: 0 5px;
	}
	.openClient .contentBlock{
		padding: 25px;
	}
}