@media (max-width: 767px){
	.headerBlock .logoBlock{
		width: 100%;
	}
	.headerBlock .headerContent {
		position: fixed;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		flex-direction: column;
		background: rgba(0,0,0,.9);
		height: 0;
		width: 100%;
		left:0;
		top:0;
		opacity: 0;
		z-index: -1;
		-webkit-transform: scale(0.8);
		-moz-transform: scale(0.8);
		-ms-transform: scale(0.8);
		transform: scale(0.8);
		-webkit-transition: opacity 0.3s, transform 0.3s;
		-moz-transition: opacity 0.3s, transform 0.3s;
		transition: opacity 0.3s, transform 0.3s;
	}
	.headerBlock .headerContent.justMeFade{
		opacity: 1;
		z-index: 999;
		justify-content: baseline;
		padding: 0 20px;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
		height: 100%;
	}
	.headerBlock .headerContent .languageBlock,
	.headerBlock .headerContent .listMenu,
	.headerBlock .headerContent .loginBtn{
		transform: scale(0);
		opacity: 0;
		transition: opacity 0.3s, transform 1s;
	}
	.headerBlock .headerContent.justMeFade .languageBlock,
	.headerBlock .headerContent.justMeFade .listMenu,
	.headerBlock .headerContent.justMeFade .loginBtn{
		opacity: 1;
		transform: scale(1);
		transition: opacity 0.3s, transform 0.5s;
	}
	.headerBlock .logoBlock .mobHamburger{
		display: block;
		color: #fff;
		cursor: pointer;
	}
	.headerBlock .logoBlock .mobHamburger svg{
		fill:currentColor;
		height: 15px;
		width: 22px;
	}
	.headerBlock .listMenu{
		font-size: 14px;
		text-align: center;
		margin-top: 70px;
		padding-bottom: 25px;
		border-bottom: 1px solid rgba(255,255,255, 0.2);
		margin-bottom: 25px;
		width: 100%;
	}
	.headerBlock .listMenu > li{
		display: block;
		padding: 0;
		margin-bottom: 20px;
	}
	.headerBlock .loginBtn{
		flex-basis: initial;
		padding: 0 10px 25px 10px;
		margin-bottom: 10px;
		border-bottom: 1px solid rgba(255,255,255, 0.2);
		width: 100%;
	}
	.headerBlock .loginBtn .connectBtn{
		opacity: 1;
		transform: none;
		transition: inherit;
	}
	.headerBlock .loginBtn a{
		flex-basis: 48%;
		padding: 9px 15px;
	}
	.headerBlock .loginBtn .signIn{
		left: inherit;
		margin-left: 0;
	}
	.headerBlock .languageBlock{
		order: 3;
		width: 100%;
	}
	.headerBlock .languageBlock:hover{
		font-size: 10px;
	}
	.headerBlock .languageBlock .currentLanguage{
		display: none;
	}
	.headerBlock .languageBlock ul{
		display: block;
		width: 100%;
		border: none;
		padding: 0;
		font-size: 0;
		text-align: center;
	}
	.headerBlock .languageBlock ul > li{
		margin-bottom: 0;
		width: 50px;
		display: inline-block;
		text-align: center;
		font-family: "museo500";
		font-size: 10px;
	}
	.headerBlock .languageBlock ul .chooseLang{
		display: inline-block;
	}
	.headerBlock .languageBlock ul .chooseLang a{
		color: #585858;
	}
	.pricesBlock .tabNav .item{
		font-size: 18px;
		padding: 7px 20px;
	}
	.pricesBlock .tabContent .item{
		padding: 0 10px;
	}
	.pricesBlock .tabContent .flexItem{
		flex-basis: 100%;
		max-width: 100%;
		padding: 20px 115px 20px 20px;
		text-align: left;
		position: relative;
	}
	.pricesBlock .tabContent .titlePackage{
		margin-bottom: 5px;
	}
	.pricesBlock .tabContent .descPackage{
		font-size: 10px;
		margin-bottom: 10px;
	}
	.pricesBlock .tabContent .btnBlock a{
		font-size: 10px;
		padding: 11px 30px;
	}
	.pricesBlock .tabContent .pricePackage{
		font-size: 40px;
		position: absolute;
		right: 20px;
		top:20px;
	}
	.pricesBlock .tabContent .flexItem.aboutPackages{
		padding: 25px 15px 35px;
		text-align: center;
		font-size: 12px;
	}
	.pricesBlock .tabContent .flexItem.aboutPackages a{
		font-size: 14px;
	}
	.featuresBlock{
		padding: 50px 0;
	}
	.featuresBlock .contentBlock{
		margin: 0 -10px;
	}
	.featuresBlock .titleBlock{
		font-size: 24px;
		margin-bottom: 31px;
	}
	.featuresBlock .flexItem{
		padding: 0 10px;
		position: relative;
	}
	.featuresBlock .svgBlock{
		height: 100px;
		width: 100px;
		margin-bottom: 20px;
	}
	.featuresBlock .svgBlock svg{
		max-height: 58px;
		width: 50px;
	}
	.featuresBlock .titleItem{
		font-size: 14px;
	}
	.featuresBlock .descriptionItem{
		font-size: 12px;
		position: absolute;
		top: 0;
		height: 100%;
		width: 100%;
		left: 0;
		background: rgba(255, 255, 255, 0.9);
		opacity: 0;
		z-index: -1;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		align-items: center;
		transition: opacity 500ms;
	}
	.featuresBlock .flexItem.active .descriptionItem{
		opacity: 1;
		z-index: 1;
	}
	.contactUsBlock {
		background-position: calc(100% + 650px) center;
	}
	.contactUsBlock .contentBlock{
		padding: 60px 0 10px;
	}
	.contactUsBlock .itemFlex{
		flex-basis: 100%;
	}
	.contactUsBlock .address, .contactUsBlock .communication{
		text-align: center;
		margin-bottom: 40px;
	}
	.contactUsBlock .address .content{
		margin: 0 auto;
		font-size: 14px;
	}
	.contactUsBlock .titleBlock{
		font-size: 24px;
		margin-bottom: 15px;
	}
	.contactUsBlock .communication .content{
		margin-bottom: 10px;
	}
	.footerBlock .contentBlock{
		padding: 0 0 34px;
	}
	.footerBlock .copyrightBlock{
		order: 3;
		flex-basis: 63%;
	}
	.footerBlock .partnerShip{
		order: 2;
		flex-basis: 100%;
		text-align: center;
		margin: 25px 0 34px;
	}
	.footerBlock .socialLinks{
		flex-basis: 100%;
		text-align: center;
		padding: 13px 0;
		border-top: 1px solid rgba(255, 255, 255, 0.25);
		border-bottom: 1px solid rgba(255, 255, 255, 0.25);
	}
	.footerBlock .socialLinks .item .logoBlock{
		margin-bottom: 0;
	}
	.footerBlock .socialLinks .item .titleBlock{
		display: none;
	}
	.footerBlock .madeByBlock{
		order: 4;
		flex-basis: 37%;
	}
	{
		padding: 47px 0 55px;
	}
	.titleBlock{
		margin-bottom: 30px;
		font-size: 24px;
	}
	.ourClientsCarousel{
		margin-bottom: 15px;
	}
	.ourClientsCarousel .clientBlock{
		width: 69px;
		margin-bottom: 20px;
	}
	.openClient .imbBlock{
		display: none;
	}
	.openClient .textBlock{
		max-height: 350px;
		overflow-y: scroll;
		flex-basis: 100%;
		padding: 0;
	}
	.openClient .headerTextBlock{
		margin-bottom: 20px;
		padding-bottom: 15px;
	}
	.openClient .nameInstitution{
		font-size: 24px;
	}
	.openClient .footerTextBlock{
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.openClient .client{
		order: 2;
		text-align: center;
		flex-basis: 100%;
	}
	.openClient .photoClient{
		margin: 0 auto 15px;
	}
	.openPrices{
		padding: 30px 0;
	}
	.openPrices .tabNav .item{
		flex-basis: 50%;
		margin: 0;
		font-size: 18px;
	}
	.openPrices .closeBtn{
		margin-bottom: 35px;
	}
	.openPrices .contentBlock{
		padding: 20px 0;
		margin-bottom: 10px;
	}
	.openPrices .tablePrices .nameRow{
		flex-basis: 100%;
		padding-left: inherit;
		text-align: center;
		font-size: 12px;
		margin-bottom: 25px;
	}
	.openPrices .tablePrices .priceBlock .namePackage{
		font-size: 14px;
		margin-bottom: 13px;
	}
	.openPrices .tablePrices .nameRow br{
		display: none;
	}
	.openPrices .tablePrices .priceBlock{
		flex-basis: calc(100%/3);
		font-size: 11px;
	}
	.openPrices .tablePrices .priceBlock .price{
		font-size: 28px;
	}
	.openPrices .tablePrices .tableHead{
		padding-bottom: 20px;
	}
	.openPrices .tablePrices .tableBody .tableRow:nth-child(even){
		background: transparent;
	}
	.openPrices .tablePrices .tableBody .noneMob{
		display: none;
	}
	.openPrices .tablePrices .tableRow:last-child .flexItem{
		padding: 0;
		flex-basis: 100%;
		text-align: center;
	}
	.openPrices .tablePrices .tableBody .nameRow {
		background: rgba(255, 255, 255, 0.1);
		margin-bottom: 0;
		padding: 10px 8px;
	}
	.howItWorks{
		background-size: auto;
	}

	.howItWorks .firstSteps .flexItem{
		display: none;
	}
	.howItWorks .firstSteps .flexItem .before,
	.howItWorks .firstSteps .flexItem .after{
		display: none;
	}
	.howItWorks .firstSteps .flexItem.tracks{
		display: block;
	}
	.howItWorks .firstSteps .flexItem.tracks .numbers{
		font-size: 40px;
		margin-bottom: 5px;
	}
	.howItWorks .firstSteps .flexItem.tracks .text{
		font-size: 12px;
	}
	.howItWorks .secondStep {
		margin-bottom: 80px;
	}
	.howItWorks .secondStep .laptop{
		height: 146px;
		background-size: contain;
		order: 1;
		flex-basis: 100%;
		margin-bottom: 140px;
	}
	.howItWorks .secondStep .laptop:after{
		content: "";
		position: absolute;
		width: 1px;
		height: 15px;
		left: 0;
		right: 0;
		margin: 0 auto;
		background-color: rgba(255,255,255,.3);
		bottom:-25px;
	}
	.howItWorks .secondStep .laptop .logoBlock{
		padding: 0 10px;
		top: 45px !important;
		vertical-align: baseline;
	}
	.howItWorks .secondStep .laptop .logoBlock .svgBlock{
		width: 28px;
	}
	.howItWorks .secondStep .laptop .name{
		font-size: 10px;
	}
	.howItWorks .secondStep .laptop .content{
		top: 125px!important;
	}
	.howItWorks .secondStep .loudspeaker{
		flex-basis: 50%;
		order: 2;
		background-position: center!important;
		background-size: 75px;
		height: 120px;
	}
	.howItWorks .secondStep .loudspeaker .content{
		position: relative!important;
		display: block!important;
	}
	.howItWorks .secondStep .loudspeaker .line{
		width: 15%!important;
	}
	.howItWorks .secondStep .loudspeaker.right:after{
		content: "";
		position: absolute;
		left: -1px;
		height: 100%;
		width: 1px;
		top:-60px;
		background-color: rgba(255,255,255,0.3);
	}
	.howItWorks .secondStep .loudspeaker.left .content{
		display: none!important;
	}
	.howItWorks .secondStep .loudspeaker.right .content{
		top: 140px!important;
		right: 50%!important;
	}
	.howItWorks .secondStep .loudspeaker.right .content br{
		display: none;
	}
}